<div class="main-chat_top">
  <div class="main-chat_left">
    <div class="main-chat_name">
      room1
    </div>
  </div>
  <div class="main-chat_right">
    <div class="chat-end">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="main-chat_middle">
  <div class="chat-container">
    <div class=chat-area>
      <div class="user-name">
        Tom
      </div>
      <div class="times">
        2020/3/31(Wed)12:43:30
      </div>
    </div>
    <div chat-content>
      <div class="chat">
        おはよう
      </div>
    </div>
  </div>
  <div class="chat-container">
    <div class=chat-area>
      <div class="user-name">
        Tom
      </div>
      <div class="times">
        2020/3/31(Wed)12:43:30
      </div>
    </div>
    <div class="chat-content">
      <div class="chat">
        こんばんは
      </div>
    </div>
  </div>
</div>

<%= form_with model: [@room, @message], class: "main-chat_bottom", local: true do |f|%>
  <div class="form">
    <%= f.text_field :content, placeholder: "type a message", class: "message"%>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: "hidden"%>
    </label>
  </div>
    <%= f.submit "送信", class: "post-btn"%>
<% end%>